{% extends "base.html" %}

{% block content %}

<div class="container grid grid-cols-12">
  <div class="col-span-12 mt-10">
    <h3 class="font-bold text-center">
      {{ app_name }}
    </h3>
  </div>
  <div class="col-start-2 col-span-10 mt-2 opacity-50 text-center text-xs text-zinc-400">
    @{{ app_version }}
  </div>
</div>

<div class="container grid grid-cols-12 mt-10" id="corpus-table">
    <table class="col-start-2 col-span-12">
      <thead class="font-normal text-left text-xs leading-6 text-zinc-800">
        <tr>
          <th class="p-4 pr-6">uri</th>
          <th class="p-4 pr-6">corpus</th>
          <th class="p-4 pr-6">epoch</th>
        </tr>
      </thead>
      <tbody>
        {% for source_uri in source_uris %}
          <tr class="group hover:bg-zinc-50 odd:bg-white even:bg-slate-50 text-xs">
            <td class="p-4 pr-6 font-normal">{{source_uri}}</td>
            <td class="p-4 pr-6 font-normal">
              {% if corpus_map.get(source_uri) %}
                {{ corpus_map.get(source_uri)[0].name }}
              {% endif %}
            </td>
            <td class="p-4 pr-6 font-normal">
                {% if not corpus_map.get(source_uri) %}
                    <a href="/rag/ingest?source_uri={{source_uri}}" class="font-bold text-orange-700">
                      ingest
                    </a>
                {% else %}
                  <a href="/rag/ingest?source_uri={{source_uri}}" class="font-bold text-orange-700">
                    {{ corpus_map.get(source_uri)[0].epoch }}
                  </a>
                {% endif %}
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  
{% endblock %}
