<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Notme{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    </head>
    <body class="font-mono">
        <header class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white text-sm py-4 dark:bg-blue-700">
            <nav class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between" aria-label="Global">
                <div class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:ps-5">
                    <a class="font-medium text-white hover:text-gray-400" href="/admin/corpus">Corpus</a>
                    <a class="font-medium text-white hover:text-gray-400" href="/admin/workq">WorkQ</a>
                </div>
                <div class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:ps-5 float-right mx-5">
                </div>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>